body {
  font-family: Roboto;
  margin: 0px;
  display: flex;
  flex-direction: row;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 1rem 4rem 0px 4rem;
}

#sidebar {
  background-color: black;
  color: white;
  min-height: 100vh;
  width: 10%;
}

#main {
  width: 90%;
}

ul {
  padding-left: 0px;
  margin-top: 0px;
}

li {
  list-style: none;
  padding: 1rem;
  border-bottom: #5C5C5C 1px solid;
}

.nav-active {
background-color: #5C5C5C;
}

#banner {
  background: #EFEFEF;
  text-align: center;
  padding: 1rem;
}

#footer {
  width: 100%;
  border-top: 2px solid #EFEFEF;;
}

.banner-header {
  font-size: 18px;
}

.banner-text {
  width: 60%;
  margin: auto;
}

.logo {
  width: 310px;
  height: 122px;
  margin: 1rem;
}

.copy-right {
  padding-left: 1rem;
  width: 125px;
  height: 19px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.row {
  display: flex;
  margin-top: 1.5rem;
}

.col {
  width: 33%;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

.col:first-child {
  padding-left: 0px;
}

.col-text {
  margin-top: 0px;
  word-wrap: break-word;
}

.icon {
  float: left;
}

@media screen and (max-width: 576px) {
  body, .row {
    flex-direction: column;
  }
  .col, #sidebar, #main {
    width: 100%;
    padding-left: 0px;
  }
  #sidebar, #content {
    min-height: unset;
  }
  .banner-text {
    width: 100%;
    margin: auto;
  }
  #content {
    padding: 1rem
  }
  
}
@media screen and (max-width: 920px) {
  
}